:root{
    --dark:#020617;
    --blue:#3B82F6;
    --neon:#22D3EE;
    --gold:#FACC15;
    --white:#F8FAFC;
    --muted:#CBD5E1;
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Montserrat',sans-serif;
}

body{
    background:var(--dark);
    color:var(--white);
}

/* HERO */
.blast{
    position:relative;
    height:100vh;
    overflow:hidden;
}

.blast video{
    position:absolute;
    width:100%;
    height:100%;
    object-fit:cover;
}

.dark-layer{
    position:absolute;
    inset:0;
      position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* GLASS CARD */
.glass-card{
    position:absolute;
    left:8%;
    top:50%;
    transform:translateY(-50%);
    padding:40px;
    max-width:480px;
    background:rgba(255,255,255,.08);
    backdrop-filter:blur(20px);
    border-radius:22px;
    box-shadow:0 30px 80px rgba(0,0,0,.6);
}

.badge{
    background:var(--gold);
    color:#000;
    padding:6px 14px;
    border-radius:30px;
    font-size:12px;
    display:inline-block;
    margin-bottom:12px;
}

.glass-card h1{
    font-size:72px;
    line-height:.9;
    font-weight:900;
}

.upto{font-size:20px;letter-spacing:4px;}
.percent{color:var(--neon);text-shadow:0 0 30px var(--neon);}
.off{font-size:42px;}

.glass-card h2{
    margin-top:12px;
    color:var(--blue);
}

.glass-card p{
    margin:15px 0;
    color:var(--muted);
}

/* CTA */
.cta{
    padding:14px 36px;
    border:none;
    border-radius:40px;
    background:linear-gradient(135deg,var(--neon),var(--blue));
    font-weight:800;
    cursor:pointer;
    box-shadow:0 0 40px rgba(34,211,238,.6);
}

.cta:hover{transform:scale(1.08);}

/* TEXT AREA */
.text-area{
    padding:100px 12%;
    text-align:center;
}

.text-area h2{
    font-size:36px;
    margin-bottom:20px;
}

.text-area p{
    font-size:18px;
    color:var(--muted);
    line-height:1.8;
}

/* VIDEO AREA */
/* .video-area{
    padding:80px 10%;
    text-align:center;
}

.video-box{
    max-width:900px;
    margin:30px auto;
    border-radius:20px;
    overflow:hidden;
    box-shadow:0 20px 60px rgba(0,0,0,.6);
}

.video-box video{
    width:100%;
} */

/* GALLERY */
.gallery{
    padding:80px 10%;
    text-align:center;
}

.images{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:25px;
    margin-top:30px;
        background-position:center;
    background-repeat: none;
    background-size: contain;
}

.images img{
    width:100%;
    border-radius:18px;
    transition:.4s;
}

.images img:hover{
    transform:scale(1.06);
}

/* FINAL CTA */
.final-cta{
    padding:100px 10%;
    text-align:center;
    background:linear-gradient(135deg,#020617,#020617cc);
}

.final-cta button{
    margin-top:20px;
    padding:16px 40px;
    border:none;
    border-radius:40px;
    background:var(--gold);
    font-weight:800;
    cursor:pointer;
}
