* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    height: 100vh;
    /* background: #dbe9f4; */
    background-image: url(nojus-smagorius-etxEujC8p0E-unsplash.jpg);
    background-position:center;
    background-repeat: none;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 700px;
    height: 380px;
    background: #EAE0CF;
    display: flex;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

/* Left Side */
.left {
    width: 50%;
    background: rgb(1, 1, 38);
     border-bottom-right-radius: 20%;
     border-top-right-radius: 20%;
    color: #fff;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.left h1 {
    margin-bottom: 15px;
}

.left p {
    margin-bottom: 20px;
}

.btn-outline {
    padding: 10px 25px;
    background: transparent;
    border: 2px solid #fff;
    color:black;
    background-color:  #f4b400;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
}

/* Right Side */
.right {
    width: 50%;
    padding: 40px;
    text-align: center;
}

.right h2 {
    margin-bottom: 25px;
}

.input-box input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 20px;
    outline: none;
}

.forgot {
    display: block;
    margin-bottom: 20px;
    font-size: 13px;
    color: #555;
    text-decoration: none;
}

.btn {
    width: 100%;
    padding: 10px;
    background: #4fa3d1;
    border: none;
    color: white;
    border-radius: 20px;
    cursor: pointer;
    margin-bottom: 20px;
}

.social-text {
    font-size: 13px;
    margin-bottom: 10px;
}

.social-icons span {
    margin: 0 8px;
    font-weight: bold;
    cursor: pointer;
}


/* Header */
.header {
    background-color: white;
    padding: 30px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.header h1 {
    font-size: 26px;
}

/* Main container */
.container {
    max-width: 1000px;
    margin: 30px auto;
    padding: 10px;
}

/* Cards */
.card {
    background: white;
    display: flex;
    gap: 20px;
    margin-bottom: 30px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

/* Image placeholder */
.image-box {
    width: 45%;
    height: 180px;
    background-color: #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #666;
    font-size: 14px;
}

/* Content */
.content {
    width: 55%;
}

.content h2 {
    margin-top: 0;
}

.content p {
    font-size: 15px;
    line-height: 1.5;
}

/* Buttons */
.btn {
    margin-top: 10px;
    padding: 10px 15px;
    border: none;
    background-color: #f4b400;
    color: black;
    font-weight: bold;
    cursor: pointer;
    border-radius: 4px;
}
.image-box img{
    width: 100%;
    height: 100%;
    object-fit:cover;

}




/* icon */
.social-icons a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    margin: 0 8px;
    border: 1px solid #ccc;
    border-radius: 50%;
    color: #555;
    text-decoration: none;
    transition: 0.3s;
}

.social-icons a:hover {
    background: #4fa3d1;
    color: white;
    border-color: #4fa3d1;
}
